In [34]:
import pandas as pd
from tensorboard.backend.event_processing import event_accumulator

# Path to your TensorBoard log directory
log_dir = "/data/user/R901105/dev/log/HalfCheetah-v2/SafeRL/240129-121039"

# Initialize an Event Accumulator
ea = event_accumulator.EventAccumulator(log_dir,
    size_guidance={event_accumulator.SCALARS: 0})

# Load the data
ea.Reload()

# Extract scalar data
scalar_tags = ea.Tags()["scalars"]

# Prepare DataFrame
data = {}
for tag in scalar_tags:
    events = ea.Scalars(tag)
    steps = [event.step for event in events]
    values = [event.value for event in events]
    data[tag] = pd.Series(values, index=steps)

df = pd.DataFrame(data)

# Display the DataFrame
df

,Stats/Mixed return,Stats/Suboptimal return,Stats/Expert return,Stats/Cede Control,Stats/Novel,Stats/Risky,test/env_step,test/reward,test/length,test/reward_std,test/length_std,update/loss/actor,update/loss/critic1,update/loss/critic2,update/loss/alpha,update/alpha
0,8716.380859,4990.672852,8709.270508,1.000,0.012,1.0,0.0,5.152728,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
500,8886.224609,5186.739746,8709.270508,1.000,0.010,1.0,500.0,4.439669,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-480.198730,8.591582,8.591433,-19.606403,0.296122
1000,8724.060547,5403.817383,8709.270508,1.000,0.018,1.0,1000.0,6.268800,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1500,8838.285156,5492.739258,8709.270508,1.000,0.010,1.0,1500.0,5.453107,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-796.391968,1.450394,1.449233,14.996804,0.000013
99000,9426.584961,9462.207031,8709.270508,0.002,0.002,0.0,99000.0,9.750534,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
99500,9781.444336,9594.070312,8709.270508,0.010,0.010,0.0,99500.0,9.745699,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
99999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-797.178589,1.468645,1.467919,10.769874,0.000017
100000,9608.147461,9665.007812,8709.270508,0.001,0.001,0.0,100000.0,9.510331,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [35]:
df = df[[col for col in df.columns if "Stats" in col]].dropna()

In [36]:
df.to_csv("HC_NR2.csv")